WebService/src/resources/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://yogesh.com/" name="CalculatorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://yogesh.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://yogesh.com/" schemaLocation="CalculatorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="sub">
    <part name="parameters" element="tns:sub"/>
  </message>
  <message name="subResponse">
    <part name="parameters" element="tns:subResponse"/>
  </message>
  <message name="mul">
    <part name="parameters" element="tns:mul"/>
  </message>
  <message name="mulResponse">
    <part name="parameters" element="tns:mulResponse"/>
  </message>
  <message name="div">
    <part name="parameters" element="tns:div"/>
  </message>
  <message name="divResponse">
    <part name="parameters" element="tns:divResponse"/>
  </message>
  <portType name="Calculator">
    <operation name="add">
      <input wsam:Action="http://yogesh.com/Calculator/addRequest" message="tns:add"/>
      <output wsam:Action="http://yogesh.com/Calculator/addResponse" message="tns:addResponse"/>
    </operation>
    <operation name="sub">
      <input wsam:Action="http://yogesh.com/Calculator/subRequest" message="tns:sub"/>
      <output wsam:Action="http://yogesh.com/Calculator/subResponse" message="tns:subResponse"/>
    </operation>
    <operation name="mul">
      <input wsam:Action="http://yogesh.com/Calculator/mulRequest" message="tns:mul"/>
      <output wsam:Action="http://yogesh.com/Calculator/mulResponse" message="tns:mulResponse"/>
    </operation>
    <operation name="div">
      <input wsam:Action="http://yogesh.com/Calculator/divRequest" message="tns:div"/>
      <output wsam:Action="http://yogesh.com/Calculator/divResponse" message="tns:divResponse"/>
    </operation>
  </portType>
  <binding name="CalculatorPortBinding" type="tns:Calculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sub">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="mul">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="div">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

